@charset "utf-8";

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
        url(fonts/SpoqaHanSansNeo-Bold.woff) format('woff'),
        url(fonts/SpoqaHanSansNeo-Bold.otf) format('opentype'),
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/SpoqaHanSansNeo-Medium.otf) format('woff2'),
        url(fonts/SpoqaHanSansNeo-Medium.woff) format('woff'),
        url(fonts/SpoqaHanSansNeo-Medium.otf) format('opentype'),
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
        url(fonts/SpoqaHanSansNeo-Regular.woff) format('woff'),
        url(fonts/SpoqaHanSansNeo-Regular.otf) format('opentype'),
}

@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/SCDream7.otf) format('woff2'),
        url(fonts/SCDream7.woff) format('woff'),
        url(fonts/SCDream7.otf) format('opentype'),
}