@charset "UTF-8";
/* 공통 */
.subText{font-size: 17px; font-weight: 200; line-height: 1;}

.container{max-width: 1310px; padding: 0 20px; margin: 0 auto;}

#section02{}
#section02 .cardLinkWrap{display: flex; height: 50.52vw;}
#section02 .cardLinkWrap li{padding: 8.59vw 0 0 5.21vw; position: relative; flex: 1; background: no-repeat center/cover; transition: all .5s; cursor: pointer;}
#section02 .cardLinkWrap li.box01{height: 100%; background-image: url(../images/main01.jpg);}
#section02 .cardLinkWrap li.box02{height: 100%; background-image: url(../images/main02.jpg);}
#section02 .cardLinkWrap li.box03{height: 100%; background-image: url(../images/main03.jpg);}
#section02 .cardLinkWrap li:not(:hover){flex: 1.2;}
#section02 .cardLinkWrap li:hover{flex: 2;}
#section02 .cardLinkWrap li .view{position: absolute; bottom: 9.58vw; left:3.80vw; width: 4.17vw; height: 4.17vw; border-radius: 2.60vw; border: 0.10vw solid #fff; background-color: rgba(255,255,255, .17); transition: all .3s;}
#section02 .cardLinkWrap li .view .hoverText{opacity: 0; }
#section02 .cardLinkWrap li .view::after{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 18px; height: 12px; background: url(../images/main/arrow.png) no-repeat;}
#section02 .cardLinkWrap li .subText{display: block; font-size: 0.89vw; color: #fff;}
#section02 .cardLinkWrap li h2{font-size: 4.69vw; color: #fff; line-height: 1; font-family: sans-serif;}
#section02 .cardLinkWrap li p{font-size: 0.94vw; color: #fff;}
#section02 .cardLinkWrap li:hover .view{width: 280px;}
#section02 .cardLinkWrap li:hover .view::after{left: auto; transform: translateY(-50%); right:32px;}
#section02 .cardLinkWrap li:hover .view .hoverText{ opacity: 1; display: inline-block; padding: 23px 0 23px 32px; color: #fff; font-size: 18px; font-weight: 200; transition: all .2s .3s;}

/* section03 */
#section03{padding: 133px 0 123px; background-color: #f5f5f5;}
#section03 .titleWrap{margin-bottom: 96px;}
#section03 .titleWrap .subText{color: #897e66;}



.titleWrap h2{font-weight: 700; font-size: 50px; color: #000; font-family: 'SpoqaHanSansNeo', sans-serif; letter-spacing: -4px;}
.titleWrap .subText02{font-family: 'SpoqaHanSansNeo', sans-serif; font-size: 17px; color: #5a5a5a; line-height: 1.4;}




/* section04 */
#section04{padding: 174px 0 89px;}
#section04 .titleWrap .subText{color: #34a2ba;}

/* section05 */
#section05{background: url(../images/main/bg.jpg)no-repeat center; background-size: cover;}
#section05 .section05{position: relative; padding: 95px 0 0; height: 350px;}
#section05 p{margin-bottom: 36px; font-family: 'SpoqaHanSansNeo', sans-serif; font-weight: 500; color: #fff; text-align: center; font-size: 24px; line-height: 1.6; letter-spacing: -1px; word-break: keep-all;}
#section05 a{display: block; margin: 0 auto; width: 319px; height: 82px; line-height: 82px; text-align: center; color: #fff; font-family: 'SpoqaHanSansNeo', sans-serif; font-weight: 500; font-size: 24px; background-color: #349c00; border-radius: 50px;} 

@media (max-width: 1024px){

    #section05 .section05{padding: 0;}
    #section05 .box{position: absolute; top: 53%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
    #section05 p{font-size: 20px;}
    #section05 a{width: 230px; height: 65px; line-height: 65px; font-size: 20px;}

}

@media (max-width: 768px){

    #section05 p{font-size: 18px;}
    #section05 a{width: 180px; height: 55px; line-height: 55px; font-size: 18px;}

}

@media (max-width: 414px){

    #section05 .section05{height: 302px;}
    #section05 .box{top: 54%;}
    #section05 p{font-size: 16px;}
    #section05 a{width: 150px; height: 50px; line-height: 50px; font-size: 16px;}

}