@charset "UTF-8";
#section01{}
#section01 .cardLinkWrap{display: flex; height: 970px;}
#section01 .cardLinkWrap li{flex: 1; background: no-repeat center/cover; transition: all .5s;}
#section01 .cardLinkWrap li.img01{height: 100%; background-image: url(../images/main01.jpg);}
#section01 .cardLinkWrap li.img02{height: 100%; background-image: url(../images/main02.jpg);}
#section01 .cardLinkWrap li.img03{height: 100%; background-image: url(../images/main03.jpg);}
#section01 .cardLinkWrap li:hover{flex: 2;}
/* #section01 .cardLinkWrap li:not(:hover) {flex: 0.7;} */

